@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.canvas {
  position: absolute;
  display: cover;
  width: 600px;
  height: 900px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(35%, -50%);
          transform: translate(35%, -50%);
}

.home_button_box {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(30%, -25%);
          transform: translate(30%, -25%);
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 96px;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-top: 100px;
  margin-left: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.part_one {
  font-size: 122px;
  font-weight: bold;
  margin-left: 10px;
}

.part_two {
  font-size: 122px;
  font-weight: bold;
  margin-left: 10px;
}

.header_two {
  margin-left: 200px;
  margin-top: -60px;
}

.cta {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: #42A5F5;
  margin-left: 50px;
  overflow: hidden;
}

.section_two {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40vh 50vh;
      grid-template-rows: 40vh 50vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-top: 400px;
}

.canvas_two {
  width: 500px;
  height: 900px;
  margin-top: -200px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, 20%);
          transform: translate(50%, 20%);
}

.second_heading {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 64px;
  letter-spacing: 0.01em;
  margin-left: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.second_info {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 360;
  width: 700px;
  font-size: 1.2em;
  margin-left: 50px;
  line-height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form_link {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 700px;
  font-size: 1.2em;
  margin-left: 50px;
  line-height: 24px;
  color: #42A5F5;
  text-decoration: underline;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section_three {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40vh 50vh;
      grid-template-rows: 40vh 50vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-bottom: 200px;
}

.third_heading {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 64px;
  letter-spacing: 0.01em;
  margin-left: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.third_info {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 360;
  width: 700px;
  font-size: 1.2em;
  margin-left: 50px;
  line-height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.canvas_three {
  width: 500px;
  height: 900px;
  margin-top: -200px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, 20%);
          transform: translate(50%, 20%);
}

.info_section_three {
  margin-top: 50px;
}
/*# sourceMappingURL=landing.css.map */